<div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Lista de Clientes</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>Email</th>
              <th>CPF</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
              <td>{{ client.id }}</td>
              <td>{{ client.name }}</td>
              <td>{{ client.age }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.cpf }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  