<!-- loan.component.html -->
<div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="mb-4">Gerenciamento de Empréstimos</h1>
        <div class="d-grid gap-2">
          <button class="btn btn-success btn-lg" [routerLink]="['/loan-price']">
            Calcular Empréstimo Price
          </button>
          <button class="btn btn-success btn-lg" [routerLink]="['/list-loan']">
            Calcular Empréstimo Price
          </button>
        </div>
      </div>
    </div>
  </div>
  