<div class="container-fluid bg-primary text-light py-5">
  <div class="row">
    <!-- Coluna do formulário -->
    <div class="col-md-6">
      <h2 class="text-center mb-4">Simulador de Financiamento (PRICE)</h2>

      <form>
        <!-- Data de início com calendário -->
        <div class="mb-3">
          <label for="dateStart" class="form-label">Data de Início</label>
          <input type="date" id="dateStart" class="form-control" name="dateStart" [min]="minDate" [(ngModel)]="currentDate" required placeholder="Selecione ou digite a data" />
        </div>

        <!-- Moeda -->
        <div class="mb-3">
          <label for="currency">Moeda:</label>
          <select id="currency" class="form-control" [(ngModel)]="selectedCurrency" name="currency" (change)="onCurrencyChange()">
            <option *ngFor="let currency of currencies" [value]="currency.simbolo">
              {{ currency.nomeFormatado }} ({{ currency.simbolo }})
            </option>
          </select>
        </div>
        <!-- PTAX -->
        <div class="mb-3">
          <label for="ptax" class="form-label">PTAX:</label>
          <input type="text" id="ptax" class="form-control" [value]="ptax" readonly />
        </div>
        


      </form>
    </div>
  </div>
</div>
